.chat-page {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevents overflow to ensure layout stability */
}

.sidebar {
  width: 30%;
  border-right: 1px solid #ddd;
  overflow-y: auto; /* Scrollable sidebar for chat previews */
  padding: 10px;
  background-color: #f8f9fa;
}

.chat-area {
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  height: 100%;
}

.chat-header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #ffffff;
}

.chat-header .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background-color: gray;
  margin-right: 10px;
}

.chat-header .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat-header .name {
  font-weight: bold;
}

.chat-messages {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.message.own-message {
  align-items: flex-end;
  align-self: flex-end;
}

.message-content {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.message.own-message .message-content {
  background-color: #2DD4BF;
}

.message-time {
  margin-top: 5px;
  font-size: 12px;
  color: gray;
}

.card {
  padding: 10px;
  background-color: #ffffff;
  border-top: 1px solid #ddd;
  display: flex; /* Ensure it uses flex layout */
  align-items: center; /* Align items vertically in the center */
}

textarea {
  height: 40px;
  color: black;
  border-radius: 20px;
  background-color: #EBEBEB;
  width: calc(100% - 48px);
  padding: 7px 15px;
  border-bottom: 2px solid #EF9FBC;
  resize: none;
}

button {
  min-width: 40px; /* Ensures the button has a reasonable minimum width */
  height: 40px; /* Matches the height of the textarea */
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 20px; /* Rounded corners */
  padding: 0 16px; /* Padding inside the button */
}

.loading {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
