<div class="chat-page">
  <div class="sidebar">
    <div *ngFor="let preview of chatPreviews" (click)="selectChat(preview)">
      <app-chat-preview [chatPreview]="preview" [userId]="state().userId"></app-chat-preview>
    </div>
  </div>
  <div class="chat-area" *ngIf="selectedChat">
    <div class="chat-header">
      <div class="avatar">
        <ng-container *ngIf="selectedChat.lastMessage.fromUser.profilePhotoId; else initials">
          <img [src]="selectedChat.lastMessage.fromUser.profilePhotoId" alt="Profile Image">
        </ng-container>
        <ng-template #initials>
          <span>XD</span>
        </ng-template>
      </div>
      <div class="name">{{ selectedChat.conversationGetDTO.conversationName }}</div>
    </div>
    <div class="chat-container">
      <div class="chat-messages"
           infiniteScroll
           [infiniteScrollDistance]="0.8"
           [infiniteScrollUpDistance]="0.8"
           [infiniteScrollThrottle]="1500"
           [scrollWindow]="false"
           (scrolledUp)="onScroll()">
        <app-loading-spinner [isLoading]="isLoading2"></app-loading-spinner>
        <div *ngFor="let message of messages" [ngClass]="{'own-message': message.fromUser.userId === state().userId}" class="message">
          <div class="message-content">{{ message.content }}</div>
          <div class="message-time">{{ message.fromUser.fullName }}</div>
        </div>
      </div>
      <div class="card">
        <form (submit)="sendMessage()" class="flex w-full items-center">
          <textarea [formControl]="contentControl" class="text-black" placeholder="Add a comment..."></textarea>
          <button *ngIf="!isLoading" class="material-symbols-outlined cursor-pointer" type="submit">send</button>
          <div *ngIf="isLoading" class="loading loading-spinner"></div>
        </form>
      </div>
    </div>
  </div>
</div>
