<header class="navbar h-20 fixed bg-primary">
  <!-- logo -->
  <div class="navbar-start ml-16 w-100">
    <h1 class="text-3xl my-auto font-bold">SpeakApp</h1>
  </div>
  <!-- center menu-->
  <nav class="navbar-center flex flex-row justify-center gap-16 text-lg">
    <a
      class="flex flex-row gap-2 transition duration-300 hover:scale-110"
      routerLink="/home"
    >
      <span class="material-symbols-outlined" style="font-size: 32px">
        home
      </span>
      <h2 class="my-auto">Home</h2>
    </a>
    <a
      class="flex flex-row gap-2 transition duration-300 hover:scale-110"
      routerLink="/chats"
    >
      <span class="material-symbols-outlined" style="font-size: 32px">
        chat
      </span>
      <h2 class="my-auto">Chats</h2>
    </a>
    <a
      class="flex flex-row gap-2 transition duration-300 hover:scale-110"
      routerLink="/search"
    >
      <span class="material-symbols-outlined" style="font-size: 32px">
        search
      </span>
      <h2 class="my-auto">Search</h2>
    </a>
  </nav>
  <!-- user menu-->
  <div class="navbar-end mr-16 w-100">
    <div class="flex flex-row gap-6 cursor-pointer" routerLink="/profile">
      <h2 class="text-lg font-semibold my-auto">Krzysio</h2>
      <div class="avatar">
        <div class="w-14 rounded-full">
          <img src="https://tapety.tja.pl/obrazki/tja_normalne/166120.jpg" />
        </div>
      </div>
    </div>
  </div>
</header>
