<header id="header" class="top-0 left-0 fixed navbar h-20 bg-primary z-40">
  <!-- logo -->
  <div class="navbar-start ml-4 w-100 lg:ml-16">
    <h1 class="text-3xl my-auto font-bold cursor-pointer select-none" routerLink="/">SpeakApp</h1>
  </div>
  <!-- center menu-->
  <nav id="navbar"
    class="md:navbar-center md:static md:justify-center md:gap-16 md:w-auto
           text-lg fixed left-0 bottom-0 bg-primary w-full h-20 m-0 justify-between px-4 flex flex-row "
  >
    <a
      class="flex flex-row gap-2 transition duration-300 min-w-[4rem] justify-center hover:scale-110"
      routerLink="/posts"
    >
      <span class="material-symbols-outlined" style="font-size: 32px">
        home
      </span>
      <h2 class="my-auto hidden min-[320px]:block" >Home</h2>
    </a>
    <a class="flex flex-row gap-2 transition duration-300 min-w-[4rem] justify-center hover:scale-110" routerLink="/friends">
      <span class="material-symbols-outlined" style="font-size: 32px">
        group
      </span>
      <div class="indicator">
        <span *ngIf="requestsCount() !== 0" class="indicator-item badge badge-secondary badge-sm">{{ requestsCount() }}</span>
        <h2 class="my-auto hidden min-[320px]:block pr-2">Friends</h2>
      </div>
    </a>
    <a class="flex flex-row gap-2 transition duration-300 min-w-[4rem] justify-center hover:scale-110" routerLink="/chats">
      <span class="material-symbols-outlined" style="font-size: 32px">chat</span>
      <h2 class="my-auto hidden min-[320px]:block">Chats</h2>
    </a>
  </nav>
  <!-- user menu-->
  <div *ngIf="authState().isLoggedIn" class="navbar-end mr-4 flex gap-8 w-100 lg:mr-16">
    <div class="flex flex-row gap-2 cursor-pointer sm:gap-4" [routerLink]="['profiles/', authState().userId, 'info']">
      <h2 class="text-lg font-semibold my-auto hidden min-[320px]:block select-none">{{ authState().firstName }}</h2>
      <app-user-avatar [src]="authState().profilePhotoId" size="xl"></app-user-avatar>
    </div>
    <button *ngIf="authState().isLoggedIn" class="btn btn-secondary rounded-2xl shadow-md shadow-gray-500" (click)="logoutUser()">Logout</button>
  </div>
<!--  <select (change)="themeChanges($event)" class="select select-sm">-->
<!--    <option *ngFor="let theme of themes" [value]="theme">{{ theme }}</option>-->
<!--  </select>-->

  <div *ngIf="!authState().isLoggedIn" class="navbar-end flex gap-4 mr-4 w-100 lg:mr-16">
    <button class="btn btn-secondary rounded-2xl shadow-md shadow-gray-500" (click)="loginUser()">Login</button>
    <button class="btn btn-secondary rounded-2xl shadow-md shadow-gray-500" (click)="registerUser()">Sign up</button>
  </div>
</header>
