<div>
  <div>
    <img class="absolute max-w-[calc(64rem-2rem)] z-[-1] w-[calc(100%-2rem)] h-[250px] rounded-[20px] object-cover" src="https://wallpaperaccess.com/full/1419752.jpg" alt="user background picture">
    <div class="flex flex-row pt-[125px] pl-10">
      <div class="avatar">
        <div class="w-[180px] rounded-full border-white border-4">
          <img src="https://tapety.tja.pl/obrazki/tja_normalne/166120.jpg" />
        </div>
      </div>
      <div class="flex flex-col justify-end pb-4">
        <h1 class="text-3xl font-semibold">Krzysio Misio</h1>
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-between">
    <nav class="mt-4 flex flex-row justify-start gap-4 text-lg text-primary">
      <app-user-profile-navigation></app-user-profile-navigation>
    </nav>
    <div>
      search posts
    </div>
  </div>
</div>
<div>
  <h1 class="text-xl font-semibold">Information about user</h1>
</div>
