<div class="-mb-[24px]">
  <div class="flex">
    <div class="flex flex-row justify-end w-full">
      <span class="material-symbols-outlined cursor-pointer" (click)="closeForm()">close</span>
      <span *ngIf="!isLoading" class="material-symbols-outlined cursor-pointer" (click)="onFormSubmit()">done</span>
      <div *ngIf="isLoading" class="w-[24px] h-[24px]">
        <span class="loading loading-spinner loading-sm mt-[2px] ml-[2px]"></span>
      </div>
    </div>
  </div>
  <form [formGroup]="myForm" (ngSubmit)="onFormSubmit()" class="">
    <div class="grow-wrap">
      <textarea id="content" (keydown.enter)="onFormSubmit()" rows="{{numberOfRows}}" formControlName="content" name="content" class="resize-none bg-[#D9D9D9] border-black border-[1px] w-full rounded max-h-screen max-w-full" onInput="this.parentNode.dataset.replicatedValue = this.value">{{currentContent}}</textarea>
    </div>
  </form>
</div>

<!--<app-loading-spinner *ngIf="deleteImageLoading()" class="bottom-[120px] absolute loading loading-spinner loading-lg z-10 bg-white"></app-loading-spinner>-->
<!--<img [src]="selectedFile.src" [ngClass]="{'max-h-[200px] rounded-[20px]': true, 'filter brightness-50 blur-[1px]': deleteImageLoading() }"  alt="Your image"/>-->
<button
  *ngIf="imageId"
  class="absolute -bottom-[50px] -right-[10px] bg-black opacity-50 rounded-full w-[30px] h-[30px]"
  (click)="deleteImage()"
  type="button">
  <span class="material-symbols-outlined text-[30px] text-white">close</span>
</button>
