<div class="flex">
  <div class="ml-auto">
    <span class="material-symbols-outlined cursor-pointer" (click)="closeForm()">close</span>
    <span *ngIf="!isLoading()" class="material-symbols-outlined cursor-pointer" (click)="onFormSubmit()">done</span>
    <span *ngIf="isLoading()" class="loading loading-spinner" (click)="onFormSubmit()">done</span>

  </div>
</div>
<form [formGroup]="myForm" (ngSubmit)="onFormSubmit()" class="space-y-6">
  <div>
    <div class="mt-2">
      <textarea id="content" formControlName="content" name="content" class="text-black w-full">{{currentContent}}</textarea>
    </div>

  </div>
</form>
