<div class="card w-96 w-[480px] flex flex-nowrap">
  <div class="flex items-center">
    <div class="flex-none mt-1">
      <div class="avatar">
        <div class="w-10 rounded-full">
          <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
        </div>
      </div>
    </div>
    <form (ngSubmit)="onFormSubmit()">
      <div [ngClass]="{'w-[480px]': !isLoading, 'w-[430px]': isLoading}" class="relative px-2 ml-2 flex flex-nowrap">
        <textarea [formControl]="contentControl" (keydown.enter)="onFormSubmit()" class="text-black w-full" placeholder="Add a comment..." type="text"></textarea>
        <button *ngIf="!isLoading" class="material-symbols-outlined cursor-pointer absolute top-0 right-8 ">send</button>
        <div *ngIf="!isLoading" (click)="onFormSubmit()" class="tooltip tooltip-top cursor-pointer w-[30px] h-[30px] top-2 right-14" data-tip="Send"></div>
        <span *ngIf="isLoading" class="loading loading-spinner absolute right-4 top-2"></span>
      </div>
    </form>
  </div>
</div>
