<app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>
<ng-container *ngIf="!isLoading && profile">
  <h1 class="text-center text-2xl font-bold">Edit Profile</h1>
  <form *ngIf="!isLoading && profile" class="flex flex-col gap-2 max-w-2xl mx-auto mt-8">
    <label class="text-center">First Name</label>
    <input class="app-input input-secondary" />
    <label class="text-center">Last Name</label>
    <input class="app-input input-secondary"/>
    <label class="text-center">Date of Birth</label>
    <label class="text-center">About</label>
    <textarea class="app-textarea bg-secondary input-secondary resize-none"></textarea>
    <button type="submit" class="app-btn btn-primary max-w-xs w-full mt-8 mx-auto">Save</button>
  </form>
</ng-container>
