<app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>
<ng-container *ngIf="!isLoading && profile">
  <h1 class="text-center text-2xl font-bold">Edit Profile</h1>
  <form
    *ngIf="!isLoading && profile"
    class="flex flex-col gap-2 max-w-2xl mx-auto mt-8"
    (ngSubmit)="updateProfile()"
  >
    <label class="text-center">First Name</label>
    <input [formControl]="firstNameControl" class="app-input input-secondary" />
    <label class="text-center">Last Name</label>
    <input [formControl]="lastNameControl" class="app-input input-secondary" />
    <label class="text-center">Date of Birth</label>
    <mat-form-field class="w-full max-w-[24rem] mx-auto">
      <input
        [formControl]="dateOfBirthControl"
        matInput
        [matDatepicker]="picker"
        placeholder="Choose a date"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <label class="text-center">About</label>
    <textarea
      [formControl]="aboutControl"
      class="app-textarea bg-secondary input-secondary resize-none"
    ></textarea>
    <button
      type="submit"
      [ngClass]="{
        'app-btn btn-primary max-w-xs w-full mt-8 mx-auto': true,
        'btn-disabled': isProfileUpdateLoading()
      }"
    >
    <p *ngIf="!isProfileUpdateLoading()">Save</p>
    <span *ngIf="isProfileUpdateLoading()" class="loading loading-spinner"></span>
    </button>
  </form>
</ng-container>
