<div class="chat-preview">
  <div class="avatar">
    <ng-container *ngIf="chatPreview.lastMessage.fromUser.profilePhotoId">
      <img [src]="chatPreview.lastMessage.fromUser.profilePhotoId" alt="Profile Image" />
    </ng-container>
  </div>
  <div class="details">
    <div class="name">{{ chatPreview.conversationGetDTO.conversationName }}</div>
    <div class="last-message">
      <span *ngIf="userId === chatPreview.lastMessage.fromUser.userId">You: </span>
      {{ ChatPreviewTextFormatting.formatChatPreviewText(chatPreview.lastMessage.content, 30) }} •
      {{ ChatPreviewTextFormatting.timeAgo(chatPreview.lastMessage.sentAt) }}
    </div>
  </div>
</div>
