<div class="card py-2 px-2 w-[470px] bg-base-100 shadow-xl " >
  <div class="flex items-center">
    <div class="w-1/8">
      <app-user-avatar [src]="comment.author.profilePhotoId" size="sm" class="m-1"></app-user-avatar>
    </div>
    <div class="pl-[2px] -mt-[8px]">
      <h2 class="text-sm font-semibold">{{comment.author.fullName}}</h2>
      <p class="italic text-[12px]">{{formattedDate}}</p>
    </div>
    <div class="ml-auto">
      <app-comment-delete  (deleted)="handleDeletion($event)" [commentId]="comment.commentId" [authorId]="comment.author.userId"></app-comment-delete>
      <span *ngIf="userId === comment.author.userId" (click)="enableEditing()" class="tooltip tooltip-bottom cursor-pointer -top-4" data-tip="Edit">
          <span class="material-symbols-outlined relative -bottom-2 text-primary" [class.text-primary]="isEdited" >edit</span>
        </span>
    </div>
  </div>
  <p *ngIf="!isEdited" class="m-[1px] mb-2 pl-1 text-sm break-words whitespace-pre-line">{{comment.content}}</p>
  <app-edit-comment class="-translate-y-[24px] m-[1px] mb-1.5 pl-1 text-sm break-words" (contentUpdated)="updateComment($event)" *ngIf="isEdited" [authorId]="comment.author.userId" [commentId]="comment.commentId" [currentContent]="comment.content" ></app-edit-comment>
  <div *ngIf="formattedDateOfEditing != formattedDate" class="italic -mt-2 pb-1 pr-1 text-[12px] text-right">Edited {{ formattedDateOfEditing }}</div>

</div>

<div class="absolute flex flex-row justify-between w-[470px] -mt-3 px-4">
  <app-like-button [isComment]="true" [currentUserReaction]="comment.currentUserReactionType" (changeReaction)="upsertReaction($event)"></app-like-button>
  <div class="rounded-full px-2 bg-stone-400">
    <app-reactions-display [sortedReactions]="sortedReactions" [sumOfReactions]="comment.reactionsGetDTO.sumOfReactions" [isComment]="true"></app-reactions-display>
  </div>
</div>
