<div class="card py-2 px-2 w-[470px] bg-[#EBEBEB] bg-base-100 shadow-xl " >
  <div class="flex items-center">
    <div class="w-1/8">
      <div class="avatar m-1">
        <div class="w-10 rounded-full">
          <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
        </div>
      </div>
    </div>
    <div style="padding-left:2px; margin-top: -8px ">
      <h2 class="text-sm font-semibold">{{comment.author.fullName}}</h2>
      <p style="font-size:12px" class="italic">{{formattedDate}}</p>
    </div>


  </div>
  <p class="m-[1px] pl-1 text-sm">{{comment.content}}</p>

</div>
