<div class="card py-2 bg-base-300 w-[500px] shadow-xl">
    <div class="flex items-center">
      <div class="w-1/8">
        <div class="avatar">
          <div class="w-12 rounded-full">
            <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
          </div>
        </div>
      </div>
      <div style="padding-left: 10px" >
        <h2 class="text-xl font-semibold">{{post.author.fullName}}</h2>
        <p style="font-size: 12px" class="italic">{{formattedDate}}</p>
      </div>
      <div class="ml-auto" style="margin-right: -5px">
        <app-delete-post (deleted)="handleDeletion($event)" [postId]="post.postId" [authorId]="post.author.userId"></app-delete-post>
        <span *ngIf="userId === post.author.userId" (click)="enableEditing()" class="tooltip tooltip-bottom cursor-pointer -top-4" data-tip="Edit">
          <span class="material-symbols-outlined relative -bottom-2 text-primary" [class.text-primary]="isEdited" >edit</span>
        </span>
      </div>
    </div>
    <p *ngIf="!isEdited" class="m-[1px]">{{post.content}}</p>
    <app-edit-post [authorId]="post.author.userId" class="-translate-y-[24px]" (contentUpdated)="updateContent($event)" [postId]="post.postId" [currentContent]="post.content" *ngIf="isEdited"></app-edit-post>
    <figure><img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>

    <app-post-bottom-bar [post]="post" (changeReaction)="changeReaction($event)"></app-post-bottom-bar>
  <app-comment-list [postId]="post.postId"></app-comment-list>

</div>
