<div class="card py-2 bg-base-300 w-[500px] shadow-xl">
    <div class="flex items-center">
      <app-author-preview [user]="post.author" [formattedDate]="formattedDate"></app-author-preview>
      <div class="ml-auto" style="margin-right: -5px">
        <app-delete-post (deleted)="handleDeletion($event)" [postId]="post.postId" [authorId]="post.author.userId"></app-delete-post>
        <span *ngIf="userId === post.author.userId" (click)="enableEditing()" class="tooltip tooltip-bottom cursor-pointer -top-4" data-tip="Edit">
          <span class="material-symbols-outlined relative -bottom-2 text-primary" [class.text-primary]="isEdited" >edit</span>
        </span>
      </div>
    </div>
    <p *ngIf="!isEdited" style="max-width: 100%" class="m-[1px] break-words whitespace-pre-line">{{post.content}}</p>
    <app-edit-post [authorId]="post.author.userId" class="-translate-y-[24px]" (contentUpdated)="updateContent($event)" [postId]="post.postId" [currentContent]="post.content" *ngIf="isEdited"></app-edit-post>
    <figure><img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
    <app-post-bottom-bar [post]="post" (changeReaction)="changeReaction($event)"></app-post-bottom-bar>
  <br/>
  <app-comment-list (contentDeleted)="handleCommentDeletion()" (contentAdded)="handleCommentAdding()" [postId]="post.postId"></app-comment-list>

</div>
