<div class="card w-96 w-[500px] " style="padding-bottom: 10px">
  <form [formGroup]="myForm" (ngSubmit)="onFormSubmit()" class="space-y-6">
    <div>
      <div class="mt-2">
        <textarea (keydown.enter)="onFormSubmit()" id="content" formControlName="content" class="text-black w-full" placeholder="What's on your mind?" name="content" type="text"></textarea>
      </div>
      <div>
        <!-- dummy image for loading -->
        <div *ngIf="!selectedFile && imageLoading()" class="mx-auto h-[200px] w-[200px] bg-gray-200 rounded-[20px] flex flex-col justify-center">
          <app-loading-spinner class="loading loading-spinner loading-lg mx-auto"></app-loading-spinner>
        </div>
        <div *ngIf="selectedFile" class="p-2 flex flex-row justify-center">
          <!-- dummy element to center the image because i can't into css-->
          <span class="w-[30px]">
          </span>
          <app-loading-spinner *ngIf="deleteImageLoading()" class="bottom-[120px] absolute loading loading-spinner loading-lg z-10 bg-white"></app-loading-spinner>
          <img [src]="selectedFile.src" [ngClass]="{'max-h-[200px] rounded-[20px]': true, 'filter brightness-50 blur-[1px]': deleteImageLoading() }"  alt="Your image"/><button
            class="absolute -top-[10px] -left-[20px] bg-black opacity-50 rounded-full w-[30px] h-[30px]"
            (click)="deleteImage()"
            type="button">
            <span class="material-symbols-outlined text-[30px] text-white">close</span>
          </button>
        </div>
        <div class="flex flex-row justify-end gap-4">
          <label style="background: #ef9fbc" class="app-btn border-none">
            <span class="material-symbols-outlined">add_photo_alternate</span>
            <input #imageInput id="add-post-image-input" alt="lmao" type="file" accept="image/*" (change)="processImage(imageInput)" class="hidden"/>
          </label>
          <button [disabled]="isLoading" class="app-btn btn-primary">
            <span *ngIf="isLoading" class="loading loading-spinner"></span>
            <ng-container *ngIf="!isLoading">
              Post
            </ng-container>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
